@import "tailwindcss";
* {
  font-family: 'Space Grotesk', sans-serif;
}

@keyframes pageFade {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.page-enter {
  animation: pageFade 0.8s ease;
}